<!DOCTYPE html>
<html>
<head>
    <title>AI Banking Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">

    <!-- HEADER -->
    <div class="header">
        AI Banking Assistant
    </div>

    <!-- CHAT AREA -->
    <div id="chat-box" class="chat-box"></div>

    <!-- INPUT AREA -->
    <div class="input-area">
        <input type="text" id="query" placeholder="Ask chatbot..." />
        <button onclick="sendQuery()">Send</button>
        <button onclick="startVoice()">🎤</button>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>